.container{
    @apply max-w-7xl mx-auto px-4
}

@media(min-width:640px){
    .container{
         @apply px-6;
    }
}

@media(min-width:1024px){
    .container{
         @apply px-8;
    }
}
.m-bg-primary {
    background-color: #102131 !important;
}

.m-bg-dark-primary {
    background-color: #101F2D !important;
}

.m-bg-primary-1 {
    background-color: #1F2B44 !important;
}

.m-bg-primary-2 {
    background-color: #253659 !important;
}

.m-bg-primary-3 {
    background-color: #263F57 !important;
}

.m-text-primary {
    color: white !important;
}

.m-text-secondary {
    color: #7887A7 !important;
}

.m-text-special {
    color: #2A4560;
}

.m-text-dark {
    color: #101F2D;
}

.m-text-blue {
    color: #0075C5;
}

.hover\:m-bg-primary-1:hover {
    
    background-color: #1F2B44;
}

.hover\:m-text-primary:hover {
    color: white !important;
}

.m-rounded-full {
    border-radius: 999px;
}

.m-w-50 {
    width: 50%;
}
.m-w-100 {
    width: 100%;
}

.m-max-h-25r {
    max-height: calc( 100vh - 200px );
}
 .m-h-25r {
    height: 25.3rem;
}

.m-mt-20 {
    margin-top: 20%;
}

.m-container{
    max-width: 80rem ;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

}

.m-from-pink {
  --tw-gradient-from: #f7618b;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(247 97 139 / 0));
}
.hover\:m-from-pink:hover {
  --tw-gradient-from: #fb799d;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(251 121 157 / 0));
}

.m-to-blue {
  --tw-gradient-to: #2a7aff;
}
.hover\:m-to-blue:hover {
  --tw-gradient-to: #5090fb;
}

.m-h-3r {
    height: 30rem;
}

.m-h-120 {
    height: 45rem;
}

#shadow-first {
    position: absolute;
    z-index: -1;
    left: 53.77%;
    right: 3.95%;
    top: 50.2%;
    bottom: 5.7%;
   
    height: 10rem;
    width: 27rem;
    
    background: linear-gradient(87.66deg, #A24598 3.53%, #F7618B 89.8%, #2A7AFF 100.6%);
    mix-blend-mode: normal;
    opacity: 0.75;
    filter: blur(135.914px);
}

#shadow-secondary {
    position: absolute;
    z-index: -1;
    left: 43.82%;
    right: 0.01%;
    top: 35.52%;
    bottom: 5.02%;

    height: 10rem;
    width: 20rem;
    
    background: linear-gradient(87.66deg, #A24598 3.53%, #F7618B 79.8%, #2A7AFF 100.6%);
    mix-blend-mode: normal;
    opacity: 0.15;
    filter: blur(101.394px);
}

#shape-first {
    position: absolute;
    z-index: -2;
    top: 0px;
    left: 0px;
    height:100vh;
    width: 100%;
}

#shape-two {
    position: absolute;
    z-index: -3;
    top: 0px;
    left:  0px;
    height: 100vh;
    width: 100%;
}
#shape-left {
    position: absolute;
    z-index: -2;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
#shape-right {
    position: absolute;
    z-index: -3;
    bottom: -0px;
    right: 0px;
}

.fixed-svg-height {
    max-height: -webkit-fill-available;
}

.custom-scroll{
  direction: ltr;
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
}
.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.m-text-blue-2 {
    color: #708ad4;
}

.m-text-pink {
    color: linear-gradient(180deg, #d0368a 0%, #708ad4 99%) ;
}

.m-hr-secondary {
    border-top: 0.5px solid #7887A7 !important;
}

.m-border-t {
    
    border-top: 1px solid #7887A7;

}
